<form action="/create" method="post">
    <select name="diagtype">
        <option value="blockdiag">blockdiag</option>
        <option value="seqdiag">seqdiag</option>
        <option value="actdiag">actdiag</option>
        <option value="nwdiag">networkdiag</option>
    </select>
    <textarea name="diag" cols="60" rows="30" placeholder="Diag{ A->B }" class="small-12 columns"><%= @diag %></textarea>
    <input type="submit" value="create" class="round small button"/>
</form>
<% if !@diagram.nil? %>
<div class="row">
    <img src="<%= @diagram.png %>" />
</div>
<% end %>
