<!DOCTYPE html>
<html>
    <head charset="utf-8">
        <title>Webdiag</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="css/foundation.css" />
        <style>
            .height30 {
              height: 200px;
            }
        </style>
    </head>
    <body>
        <div class="row">
            <div class="large-12 columns">
                <h2>Webdiag</h2>
            </div>
        </div>
        <div class="row">
        <%= yield %>
        </div>
    </body>
</html>
